@media screen and (max-width: 768px) {
    nav:has(.menu-btn:checked) > ul {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        z-index: 10;
    }

    nav:has(.menu-btn:checked) > ul > li:has(.submenu-btn:checked) > ul {
        display: flex;
        flex-direction: column;
    }
    
    .submenu-btn {
        width: 30px;
        height: 30px;
        transform: translate(30px, 0);
        grid-column: 3;
        z-index: 11;
        opacity: 0;
    }
    
    nav > ul > li {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        align-items: center;
        padding: 0 .7rem;
        background: hsl(0, 0%, 50%);
    }
    
    nav > ul > li > h2 {
        padding: 0;
    }
    
    nav > ul > li > img {
        width: 30px;
    }

    nav > ul > li > ul > li > a {
        color: gainsboro;
    }
}