@import url("./style.css");
@import url("./header.css");
@import url("./main.css");
@import url("./towers.css");

html, body {
    width: 100%;
}

body {
    background: var(--background);
    overflow-x: hidden;
    padding-bottom: 100px;
}