@import url("./style.css");
@import url("./header.css");
@import url("./main.css");
@import url("./towers.css");

html, body {
    width: 100%;
}

body {
    background: var(--background);
    overflow-x: hidden;
    padding-bottom: 100px;
}

button:hover {
    cursor: pointer;
    text-shadow: 0 0 5px white;
    transition: text-shadow var(--transition-slow);
}