* {
    scroll-behavior: smooth;
}

@keyframes openmenu {
    0% { transform: translate(0, -100%); }
    100% { transform: translate(0, 0); }
}

nav > ul > li > ul {
    animation: openmenu 0.1s linear 1;
}